name: Deploy release

on:
  workflow_dispatch:

concurrency:
  group: deploy-release
  cancel-in-progress: true

jobs:
  build-for-google-play:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up JDK 21
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 21
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build bundle for Google Play release
        run: ./gradlew bundleRelease --no-daemon

      - name: Sign bundle for Google Play release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload bundle to Github release artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: google-play-bundle
          path: app/build/outputs/bundle/release/app-release.aab

  publish-built-file:
    needs: ["build-for-google-play"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (whatsnew only)
        uses: actions/checkout@v6.0.2
        with:
          sparse-checkout: whatsnew

      - name: Download Google Play bundle from Github release artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          name: google-play-bundle
          path: .

      - name: Create service_account.json for Google Play release
        env:
          SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        run: printf '%s' "$SERVICE_ACCOUNT_JSON" > service_account.json

      - name: Publish bundle to Google Play
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJson: service_account.json
          packageName: com.doubleangels.redact
          releaseFiles: app-release.aab
          track: production
          whatsNewDirectory: whatsnew

  delete-workflow-runs:
    needs: ["build-for-google-play", "publish-built-file"]
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2.1.0
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 30
          keep_minimum_runs: 1
