name: Test pull request

on:
  pull_request:
    types:
      - opened
    branches:
      - "dependabot/**"
  workflow_dispatch:

concurrency:
  group: test-dependabot-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: debug
            apk: assembleDebug
            bundle: bundleDebug
          - name: release
            apk: assembleRelease
            bundle: bundleRelease
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up JDK 21
        uses: actions/setup-java@v5.2.0
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build ${{ matrix.name }} APK and bundle
        run: ./gradlew ${{ matrix.apk }} ${{ matrix.bundle }} --no-daemon
